# No secrets leak
.env
# No database in git
pg_data/
# The binaries
/console
/console-test
/console-linux
/console-darwin
/console-windows.exe
/minion
/minion-linux
/minion-darwin
/minion-windows.exe
/nexus
/nexus-linux
/nexus-darwin
/nexus-windows.exe
# Coverage artifacts
coverage.html
coverage.out
# TLS related
# These files contain certificates, private keys, and related configuration
# files that should never be committed to version control for security reasons
/internal/certs/files/*.crt
/internal/certs/files/*.key
/internal/certs/files/prod
*.csr
*.srl
*.pem
internal/certs/files/*.conf
