# No secrets leak
.env
# No database in git
pg_data/
# The binaries
/console
/console-linux
/console-darwin
/console-windows.exe
/minion
/minion-linux
/minion-darwin
/minion-windows.exe
/nexus
/nexus-linux
/nexus-darwin
/nexus-windows.exe
# Coverage artifacts
coverage.html
coverage.out
